
::-webkit-scrollbar{
    display: none;
}

//NAVBAR

.nav-link:hover{
    color: $primary !important;
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.bg-primary{
    background-color: $primary;
}

.btn:not(.nav-btns button){
    background-color: map-get($map-color: noblanco);
    color: map-get($map-color: negro);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(86, 86, 86);
}

.btn:not(.nav-btns button):hover{
    background-color: $primary;
    color: map-get($map-color, noblanco);
    border-color: $primary;
}

//HEADER

#header{
    min-height: 100vh;
    position: relative;
    video{
        @include absolute (absolute,top,left,width,height);
        object-fit: cover;
        overflow: hidden;
    }
    .capa{
        @include absolute (absolute,top,left,width,height);
        background-color: #2a2929;
        opacity: 0.5;
        mix-blend-mode: overlay;
    }
}

//DESTACADOS

.card{
    width: 300px!important;
    margin: 20px;

    .card:hover{
        transform: scale(1.15);
    }
}


.payment-methods{
    font-size: 1.5rem;
    color: map-get($map-color, negro);

    .payment-methods i{
        margin: 15px;
        font-size: 5rem;
        color: map-get($map-color, negro);
    }
}

//FOOTER

footer .brand{
    letter-spacing: 1px;
}

//QUERIES

@media (min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '/src/variables.scss';
@import '/src/mixin.scss'
